*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: rgba(213, 225, 239, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.qr-code{
    margin-top: 200px;
    width: 320px;
    height: 499px;
    background-color: white;
    border: solid 1px black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 16px;
    text-align: center;
}

.qr-code p{
    padding-top: 15px;
}

.qr-code img{
    border-radius: 10px;
    max-width: 100%;
    height: auto;
    margin: 20px;
}

.attribution{
    font-size: 11px; text-align: center;
    margin-top: 20px;
}

.attribution a{
   color: hsl(228, 45%, 44%); 
}